extends ../../shared-template/default.jade

block title
    title Choose User or Organization

block body
    .ui.container
        .ui.large.form
            .ui.stacked.segment
                .field
                    input(type='text', name='organization', placeholder='Username or Organization')
