extends ../../shared-template/default.jade

block title
    title Repository List

block body
    .ui.container
        h1.ui.center.aligned.header Repositories
        table.ui.celled.table
            thead
                tr
                    th name
            tbody
                each repo in repos
                    tr
                        td= repo.name
