extends ../../shared-template/default.jade

block title
    title Not Authorized

block body
    .ui.container
        .ui.massive.icon.error.message
            i.warning.sign.icon
            .content
                .header Not Authorized
                p You are not permitted to view this page
        
