extends ../../shared-template/default.jade

block title
    title Choose Students
    
block head
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/dropdown.min.js')

block body
    .ui.container
        .ui.four.top.attached.steps
            .completed.step
                i.git.square.icon
                .content
                    .title Respository
                    .description Choose a Seed Repository
            .completed.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .active.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action='/recipe/code-project/choose-students', method='POST')
            .ui.attached.stacked.segment
                .field
                    label Project Type
                    a(href='/recipe/code-project/toggle-student-type')
                        .ui.buttons
                            if studentType === 'team'
                                button.ui.button indvidual
                                .or
                                button.ui.button.primary team
                            else
                                button.ui.button.primary indvidual
                                .or
                                button.ui.button team
                .field
                    label Students
                    select.ui.search.dropdown(name='students', multiple, required)
                        each student in students
                            option(value=student._id)= student.name
                a.ui.large.secondary.submit.button(href='/recipe/code-project/choose-issue-tracker') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
    script $('select.dropdown').dropdown();
