extends ../../shared-template/default.pug

block title
    title Choose Students

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/dropdown.min.js')
    script(src = prefix + '/recipe/code-project/static/dropdown.js')

block body
    .ui.container
        .ui.seven.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .active.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .disabled.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .disabled.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .disabled.step
                i.talk.icon
                .content
                    .title Messaging
                    .description Choose Team Messaging
            .disabled.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/choose-students', method='POST')
            .ui.attached.stacked.segment
                .field
                    label Project Type
                    .ui.buttons
                        if listType === 'team'
                            a.ui.button(href = prefix + '/recipe/code-project/choose-students?type=individual') indvidual
                            .or
                            a.ui.button.primary(href = prefix + '/recipe/code-project/choose-students?type=team') team
                        else
                            a.ui.button.primary(href = prefix + '/recipe/code-project/choose-students?type=individual') indvidual
                            .or
                            a.ui.button(href = prefix + '/recipe/code-project/choose-students?type=team') team
                .field
                    if listType === 'team'
                        label Teams
                    else
                        label Students
                    select.ui.search.dropdown(name='students', multiple, required)
                        each item in list
                            option(value=item._id.toString())= item.name
                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-course') previous
                input.ui.large.teal.submit.button(type='submit', value='next')

        if list.length < 1
            .ui.large.warning.icon.message
                i.idea.icon
                .content
                    .header Hey There
                    if listType === 'team'
                        p
                            | It looks like you don't have any teams.
                            | Would you like to
                            strong
                                a(href = prefix + '/recipe/manage-teams/list') create some teams
                            | or
                            strong
                                a(href = prefix + '/recipe/import-export/import-xml') import some teams
                            | ?
                    else
                        p
                            | It looks like you don't have any users.
                            | Would you like to
                            strong
                                a(href = prefix + '/recipe/manage-users/list') create some users
                            | or
                            strong
                                a(href = prefix + '/recipe/import-export/import-xml') import some users
                            | ?
