extends ../../shared-template/default.jade

block title
    title Choose a Repository
    
block head
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/dropdown.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/checkbox.min.js')

block body
    .ui.container
        .ui.four.top.attached.steps
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .active.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .disabled.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action='/recipe/code-project/choose-repository', method='POST')
            .ui.attached.stacked.segment
                .field
                    label Repository
                    select.ui.search.dropdown(name='repo', required)
                        each repo in repos
                            option(value=repo.fullName)
                                = repo.name
                                |  - 
                                = repo.description
                .field
                    .ui.toggle.checkbox
                        input(type='checkbox', name='isPrivate', class='hidden')
                        label Make Repository Private
                .field
                    .ui.toggle.checkbox
                        input(type='checkbox', name='hasWiki', class='hidden')
                        label Enable Project Wiki
                .field
                    .ui.toggle.checkbox
                        input(type='checkbox', name='hasIssueTracker', class='hidden')
                        label Enable Project Issue Tracker        
                a.ui.large.secondary.submit.button(href='/recipe/code-project/choose-students') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
    script.
        $('select.dropdown').dropdown();
        $('.ui.checkbox').checkbox();
