extends ../../shared-template/default.pug

block title
    title Choose Issue Tracker

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/checkbox.min.js')
    script(src = prefix + '/recipe/code-project/static/checkbox.js')

block body
    .ui.container
        .ui.seven.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .completed.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .completed.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .completed.step
                i.talk.icon
                .content
                    .title Messaging
                    .description Choose Team Messaging
            .active.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/choose-assessment-system', method='POST')
            .ui.attached.stacked.segment
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='useCADashboard')
                        label Use CA Dashboard as an Assessment System
                .field
                    label CAssess URL
                    input(type='text', name='cassessUrl', placeholder='CAssess URL')
                .field
                    label
                        a(href='https://github.com/settings/tokens', target='_blank') GitHub Token (Click to generate)
                    input(type='text', name='githubToken', placeholder='GitHub token')
                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-messaging-platform') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
