extends ../../shared-template/default.jade

block title
    title Choose Students
    
block head
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/components/dropdown.min.js')

block body
    .ui.container
        .ui.four.top.attached.steps
            .active.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .disabled.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .disabled.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action='/recipe/code-project/choose-students', method='POST')
            .ui.attached.stacked.segment
                .field
                    label Project Type
                    .ui.buttons
                        if studentType === 'team'
                            a.ui.button(href='/recipe/code-project/choose-students?type=individual') indvidual
                            .or
                            a.ui.button.primary(href='/recipe/code-project/choose-students?type=team') team
                        else
                            a.ui.button.primary(href='/recipe/code-project/choose-students?type=individual') indvidual
                            .or
                            a.ui.button(href='/recipe/code-project/choose-students?type=team') team
                .field
                    label Students
                    select.ui.search.dropdown(name='students', multiple, required)
                        each student in students
                            option(value=student._id)= student.name
                input.ui.large.teal.submit.button(type='submit', value='next')
                    
        if students.length < 1
            .ui.large.warning.icon.message
                i.idea.icon
                .content
                    .header Hey There
                    if studentType === 'team'
                        p 
                            | It looks like you don't have any teams. 
                            | Would you like to 
                            strong
                                a(href='/recipe/manage-teams/list') create some teams 
                            | or 
                            strong
                                a(href='/recipe/import-export/import-xml') import some teams
                            | ?
                    else
                        p 
                            | It looks like you don't have any users. 
                            | Would you like to 
                            strong
                                a(href='/recipe/manage-users/list') create some users 
                            | or 
                            strong 
                                a(href='/recipe/import-export/import-xml') import some users
                            | ?
    script $('select.dropdown').dropdown();
