extends ../../shared-template/default.pug

block title
    title Choose a Repository

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.1/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.1/components/dropdown.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.1/components/checkbox.min.js')
    script(src = prefix + '/recipe/code-project/static/checkbox.js')
    script(src = prefix + '/recipe/code-project/static/dropdown.js')

block body
    .ui.container
        .ui.six.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .active.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .disabled.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .disabled.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/choose-repository', method='POST')
            .ui.attached.stacked.segment
                .field
                    label Repository
                    select.ui.search.dropdown(name='repo', required)
                        option(value='') Select Repository
                        each repo in repos
                            option(value=repo.fullName)
                                = repo.name
                                |  -
                                = repo.description
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='isPrivate')
                        label Make Repository Private
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasWiki')
                        label Enable Project Wiki
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasIssueTracker')
                        label Enable Project Issue Tracker
                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-students') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
