extends ../../shared-template/default.pug

block title
    title Choose Team Messaging

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/checkbox.min.js')
    script(src = prefix + '/recipe/code-project/static/custom-check.js')

block body
    .ui.container
        .ui.seven.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .completed.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .completed.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .active.step
                i.talk.icon
                .content
                    .title Messaging
                    .description Choose Team Messaging
            .disabled.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/choose-messaging-platform', method='POST')
            .ui.attached.stacked.segment
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='useSlack', checked)
                        label Enable Slack
                .field
                    label Slack Team API Access Token
                    input(type='text', name='accessToken', pattern='xoxp-[0-9]{11,12}-[0-9]{11,12}-[0-9]{12}-[0-9a-f]{32}', title='Token does not match pattern', placeholder='Slack API Access Token', required)
                .field
                    label Course Slack Channels (comma-delimited)
                    input(type='text', name='courseChannelNames', pattern='^([a-z0-9-]+,? *)+$', title='Names must be lowercase with no spaces or special characters', placeholder='general, announcements, random')
                .field
                    label Team Slack Channels (comma-delimited)
                    input(type='text', name='teamChannelNames', pattern='^([a-z0-9-]+,? *)+$', title='Names must be lowercase with no spaces or special characters', placeholder='general, develop, standup')

                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-issue-tracker') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
