extends ../../shared-template/default.pug

block title
    title Choose Issue Tracker
    
block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/checkbox.min.js')
    script(src = prefix + '/recipe/code-project/static/custom-check.js')

block body
    .ui.container
        .ui.seven.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .completed.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .active.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .disabled.step
                i.talk.icon
                .content
                    .title Messaging
                    .description Choose Team Messaging
            .disabled.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .disabled.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/choose-issue-tracker', method='POST')
            .ui.attached.stacked.segment
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='useTaiga', checked)
                        label Enable Taiga
                .field
                    label Issue Tracker Description
                    input(type='text', name='description', placeholder='some snazzy description', required)
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='isPrivate')
                        label Make Issue Tracker Private
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasIssues', checked)
                        label Enable Issues
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasBacklog', checked)
                        label Enable Scrum Backlog
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasKanban')
                        label Enable Kanban Board
                .field
                    .ui.toggle.checkbox
                        input.hidden(type='checkbox', name='hasWiki')
                        label Enable Wiki

                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-repository') previous
                input.ui.large.teal.submit.button(type='submit', value='next')
