extends ../../shared-template/default.jade

block title
    title Confirm

block body
    .ui.container
        .ui.four.top.attached.steps
            .completed.step
                i.git.square.icon
                .content
                    .title Respository
                    .description Choose a Seed Repository
            .completed.step
                i.users.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .completed.step
                i.columns.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .active.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action='/recipe/code-project/confirm', method='POST')
            .ui.attached.stacked.segment
                h4.ui.horizontal.divider.header
                    i.git.square.icon
                    | Repository
                a(href=repoUrl, target='_blank')= repoName
                h4.ui.horizontal.divider.header
                    i.users.icon
                    | Students
                .ui.list
                    if studentType === 'user'
                        each student in students
                            .item
                                i.user.icon
                                .content
                                    = student.name
                                    if !student.modules.github || !student.modules.github.username
                                        i.red.warning.sign.icon(title='missing github username')
                    else
                        each team in students
                            .item
                                i.users.icon
                                .content
                                    .header= team.name
                                    .list
                                        each user in team.memberObjects
                                            .item
                                                i.user.icon
                                                .content= user.name
                                                    if !user.modules || !user.modules.github || !user.modules.github.username
                                                        i.red.warning.sign.icon(title='missing github username')
                a.ui.large.secondary.submit.button(href='/recipe/code-project/choose-students') previous
                input.ui.large.teal.submit.button(type='submit', value='confirm')
