extends ../../shared-template/default.pug

block title
    title Confirm

block script
    script(src='//code.jquery.com/jquery-2.2.4.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.8/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.8/components/accordion.min.js')
    script(src = prefix + '/recipe/code-project/static/accordion.js')

block body
    .ui.container
        .ui.six.top.attached.steps
            .completed.step
                i.university.icon
                .content
                    .title Course
                    .description Choose Course for Project
            .completed.step
                i.users.icon
                .content
                    .title Students
                    .description Choose Students to Participate
            .completed.step
                i.git.square.icon
                .content
                    .title Repository
                    .description Choose a Seed Repository
            .completed.step
                i.columns.icon
                .content
                    .title Issues
                    .description Choose Issue Tracker
            .completed.step
                i.exchange.icon
                .content
                    .title Assessment
                    .description Choose Assessment System
            .active.step
                i.info.icon
                .content
                    .title Confirm
                    .description Confirm Selections
        form.ui.attached.large.form(action = prefix + '/recipe/code-project/confirm', method='POST')
            .ui.attached.stacked.segment
                h4.ui.horizontal.divider.header
                    i.university.icon
                    | Course
                = course.name
                h4.ui.horizontal.divider.header
                    i.users.icon
                    | Students
                if studentType === 'team'
                    .ui.accordion
                        each team in students
                            .title
                                i.dropdown.icon
                                i.users.icon
                                = team.name
                                if team.hasInvalidMember
                                    i.red.warning.sign.icon
                            .content
                                .ui.list
                                    each user in team.members
                                        .item
                                            i.user.icon
                                            .content= user.name
                                                if !user.isValid
                                                    i.red.warning.sign.icon
                else
                    .ui.list
                        each student in students
                            .item
                                i.user.icon
                                .content
                                    = student.name
                                    if !student.isValid
                                        i.red.warning.sign.icon
                h4.ui.horizontal.divider.header
                    i.git.square.icon
                    | Repository
                a(href=repoUrl, target='_blank')= repoName
                h4.ui.horizontal.divider.header
                    i.columns.icon
                    | Issues
                | Issue tracker
                = issueTracker.enabled ? ' enabled' : ' disabled'
                br
                if issueTracker.enabled
                    | description:
                    = issueTracker.description
                    br
                    | private:
                    = issueTracker.isPrivate
                    br
                    | has issues:
                    = issueTracker.hasIssues
                    br
                    | has scrumboard:
                    = issueTracker.hasBacklog
                    br
                    | has kanban board:
                    = issueTracker.hasKanban
                    br
                    | has wiki:
                    = issueTracker.hasWiki
                h4.ui.horizontal.divider.header
                    i.exchange.icon
                    | Assessment
                a.ui.large.secondary.submit.button(href = prefix + '/recipe/code-project/choose-assessment-system') previous
                input.ui.large.teal.submit.button(type='submit', value='confirm')
