extends ../../shared-template/default.jade

block title
    title Success

block body
    .ui.container
        .ui.massive.icon.success.message
            i.student.icon
            .content
                .header Success
                p Your code project has been created
