extends ../../shared-template/default.pug

block title
    title Team Management

block body
    .ui.container
        h1.ui.center.aligned.header Team Management
        a.ui.positive.top.attached.button(href = prefix + '/recipe/manage-teams/create') Create Team
        table.ui.attached.celled.table
            thead
                tr
                    th id
                    th actions
            tbody
                each team in teams
                    tr
                        td= team.name
                        td
                            a.ui.primary.button(href = prefix + '/recipe/manage-teams/edit/' + team._id) Edit
                            a.ui.negative.button(href = prefix + '/recipe/manage-teams/delete/' + team._id) Delete
