extends ../../shared-template/default.jade

block title
    title Team Management

block body
    .ui.container
        h1.ui.center.aligned.header Team Management
        table.ui.celled.table
            thead
                tr
                    th id
                    th actions
            tbody
                each teamId in teamIds
                    tr
                        td= teamId._id
                        td
                            button.ui.primary.button Edit
                            button.ui.negative.button Delete
