extends ../../shared-template/default.pug

block title
    title Add Student

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/dropdown.min.js')
    script(src = prefix + '/recipe/code-project/static/dropdown.js')

block body
    .ui.container
        form.ui.large.form.stacked.segment
            h1.ui.header Add User
            .ui.attached.stacked.segment
                h3.ui.header Choose existing team
                .field
                    label Course
                    select.ui.search.dropdown(name='course', required)
                        option(selected, disabled, hidden, value='') None
                .field
                    label Team
                    select.ui.search.dropdown(name='team', required)
                        option(selected, disabled, hidden, value='') None
            .ui.attached.stacked.segment
                h3.ui.header Choose student
                .field
                    label Student
                    select.ui.search.dropdown(name='student', required)
                        option(selected, disabled, hidden, value='') None
                input.ui.large.teal.submit.button(type='add student', value='add to project')
