extends ../../shared-template/default.pug

block title
    title Add Student

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/dropdown.min.js')
    script(src = prefix + '/recipe/code-project/static/dropdown.js')

block body
    .ui.container
        form.ui.large.form.stacked.segment(action = prefix + '/recipe/manage-code-project/github-login', method='GET')
            h1.ui.header Add User
            .ui.attached.stacked.segment
                h3.ui.header Choose a student
                .field
                    label Student
                    select#students.ui.dropdown(name='student', required)
                        option(selected, disabled, hidden, value='') None
                        each user in users
                            option(value=user._id) = user.name

                input.ui.large.teal.submit.button(type='submit', value='ok')
