extends ../../shared-template/default.pug

block title
    title Error

block body
    .ui.container
        .ui.massive.icon.error.message
            i.warning.sign.icon
            .content
                .header Error
