extends ../../shared-template/default.pug

block title
    title Remove Student

block script
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/transition.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.2.2/components/dropdown.min.js')
    script(src = prefix + '/recipe/code-project/static/dropdown.js')

block body
    .ui.container
        form.ui.large.form.stacked.segment(action = prefix + '/recipe/manage-code-project/remove-choose-team', method='GET')
            h1.ui.header Remove User
            .ui.attached.stacked.segment
                .field
                    label Choose Student's Course
                    select.ui.search.dropdown(name='course', required)
                        option(selected, disabled, hidden, value='') None
                        each course in courses
                            option(value=course._id) = course.name
                input.ui.large.teal.submit.button(type='submit', value='next')
