extends ../../shared-template/default.pug

block title
    title Success

block body
    .ui.container
        .ui.massive.icon.success.message
            i.student.icon
            .content
                .header Successs
