extends ../../shared-template/default.pug

block title
    title User Management

block body
    .ui.container
        h1.ui.center.aligned.header User Management
        a.ui.positive.top.attached.button(href = prefix + '/recipe/manage-users/create') Create User
        table.ui.attached.celled.table
            thead
                tr
                    th id
                    th actions
            tbody
                each user in users
                    tr
                        td= user.name
                        td
                            a.ui.primary.button(href = prefix + '/recipe/manage-users/edit/' + user._id) Edit
                            a.ui.negative.button(href = prefix + '/recipe/manage-users/delete/' + user._id) Delete
