extends ../../shared-template/default.jade

block title
    title User Management

block body
    .ui.container
        h1.ui.center.aligned.header User Management
        table.ui.celled.table
            thead
                tr
                    th id
                    th actions
            tbody
                each userId in userIds
                    tr
                        td= userId._id
                        td
                            a.ui.primary.button(href = '/recipe/manage-users/edit/' + userId._id) Edit
                            a.ui.negative.button(href = '/recipe/manage-users/delete/' + userId._id) Delete
