extends ../../shared-template/default.jade

block title
    title Edit User

block body
    .ui.container
        form.ui.large.form(action=url, method='POST')
            .ui.stacked.segment
                .field
                    label name
                    input(type='text', name='name', placeholder='john smith', value=user.name, required)
                .field
                    label modules
                    textarea(name='modules', placeholder='{}')= JSON.stringify(user.modules, null, 4)
                input.ui.large.primary.submit.button(type='submit', value='submit')
                a.ui.large.red.submit.button(href='/recipe/manage-users/list') cancel
