extends ../../shared-template/default.jade

block title
    title Edit User

block body
    .ui.container
        if saved
            .ui.top.attached.positive.message
                i.user.icon
                | User saved
        form.ui.large.form(action=url, method='POST')
            .ui.stacked.attached.segment
                .field
                    label name
                    input(type='text', name='name', placeholder='john smith', value=user.name, required)
                .field
                    .ui.checkbox
                        input.hidden(type='checkbox', checked=user.admin)
                        label Admin
                .field
                    label modules
                    textarea(name='modules', placeholder='{}')= JSON.stringify(user.modules, null, 4)
                input.ui.large.primary.submit.button(type='submit', value='submit')
                a.ui.large.red.submit.button(href = prefix + '/recipe/manage-users/list') cancel
