extends ../../shared-template/default.jade

block title
    title Welcome to Nicest

block script
    script(src='//code.jquery.com/jquery-2.2.1.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.8/components/shape.min.js')
    script(src= prefix + '/welcome/static/flipboard-text.js')

block body
    .ui.inverted.vertical.masthead.center.aligned.segment
        br
        br
        h1.ui.inverted.header
            .ui.shape
                .sides
                    .side Nicely
                    .side Neatly
                    .side Novelly
                    .side Niftily
                    .side Naturally
            |  integrating complex education software together
        br
        br
    .ui.equal.width.stackable.internally.celled.grid
        .column
            h3 Make Educational Software a Breeze
            p
                | Nicest leverages existing Learning Platforms.
                br
                | Don't reinvent the wheel.
                br
                | Make the wheel do what it was designed to do.
        .column
            h3.ui.header Recipes
            p
                | Recipes give a quick way to connect Learning Tools together.
                ol
                    li pick a recipe
                    li set the options
                    li click go
        .column
            h3.ui.header Extensible (Coming Soon)
            p
                | Nicest offers a simple way to add new functionality
                br
                | More information coming soon!
