extends ../../shared-template/default.jade

block title
    title Import

block head
    script(src='//code.jquery.com/jquery-2.1.4.min.js')

block body
    .ui.container
        h1.ui.center.aligned.header Import XML
        form.ui.large.stacked.segment.form(action='/recipe/import-export/import-xml', method='POST', enctype='multipart/form-data')
            input(type='file', name='file', accept='text/xml')
            input.ui.button(type='submit', value='validate')
