extends ../../shared-template/default.jade

block title
    title Import

block body
    .ui.container
        h1.ui.center.aligned.header Import XML
        form.ui.large.stacked.segment.form(action='/recipe/code-project/confirm', method='POST')
            | test
