extends ../../shared-template/default.pug

block title
    title Import

block body
    .ui.container
        h1.ui.center.aligned.header Import XML
        form.ui.large.stacked.segment.form(action = prefix + '/recipe/import-export/import-xml', method='POST', enctype='multipart/form-data')
            input(type='file', name='file', accept='xml')
            input.ui.button(type='submit', value='import')

        if validation.done && validation.valid
            .ui.success.message
                .header Success
                p Data has been imported
        else if !validation.valid
            .ui.stacked.segments
                .ui.red.inverted.segment
                    h3 Errors
                each currentError, key in validation.errors
                    .ui.red.segment
                        p
                            if typeof key !== 'number'
                                span= key
                                | : 
                            span= currentError

        .ui.stacked.segment
            h3 example
            pre= example.xml

        .ui.stacked.segment
            h3 schema
            pre= example.xmlSchema
