doctype html
html(lang='en')
    head
        block title
            title nicest
        link(rel='stylesheet', href='//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css')
        block head
    body
        .ui.stackable.menu
            a.item(href='/') Nicest
            a.item(href='/recipes') Recipes
            a.item(href='/Assessments') Assessments
            a.item(href='/docs') Docs
            a.item(href='/apis') Api
        block body
