doctype html
html(lang='en')
    head
        block title
            title nicest
        meta(charset='UTF-8')
        link(rel='stylesheet', href='//oss.maxcdn.com/semantic-ui/2.2.2/semantic.min.css')
        block style
    body
        .ui.stackable.menu
            a.item(href = prefix || '/') Nicest
            a.item(href = prefix + '/recipes') Recipes
            a.item(href = prefix + '/docs') Docs
            a.item(href = prefix + '/apis') Api
        block body
        block script
